:root {
  --fixed_white: #fff;
  --fixed_dark: #404040;
  --text_color: #2c2f34;
  --second_bg: #f0f0f0;
  --main_bg: #ffffff;
  --shadow_color: 0 0 0 0 rgba(90, 113, 208, 0.11),
    0 4px 16px 0 rgba(167, 175, 183, 0.33);
  --border_color: #dee2e6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.7px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

.home {
  background-color: var(--second_bg);
}
.home .main-content .container {
  padding-top: 25px;
  padding-bottom: 25px;
}
.home .main-content .container .row .col-4 .search-category-tag {
  margin-left: 10px;
}
.home .main-content .container .row .col-4 .search-category-tag .search {
  padding: 15px 10px;
  text-align: center;
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);
}
.home .main-content .container .row .col-4 .search-category-tag .search h2 {
  text-transform: uppercase;
  margin-bottom: 18px;
}
.home .main-content .container .row .col-4 .search-category-tag .search .form-group .form-control {
  padding: 5px;
}
.home .main-content .container .row .col-4 .search-category-tag .search .form-group .btn {
  background-color: #4ad840;
  text-transform: uppercase;
  font-weight: 400;
  transition: all 0.3s;
  color: #fff;
}
.home .main-content .container .row .col-4 .search-category-tag .search .form-group .btn:hover {
  background-color: #2ed223;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical {
  margin-top: 28px;
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .title {
  padding: 10px;
  text-align: center;
  background-color: #ffeb3b;
  margin-bottom: 25px;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .title h3 {
  color: var(--text_color);
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row {
  padding: 0px 10px 10px 10px;
  margin: 22px 0px;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row .col-4 a.image {
  height: 70px;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row .col-4 a.image img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row .col-8 .title-time {
  padding: 0px 10px;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row .col-8 .title-time a {
  color: var(--text_color);
  font-size: 15px;
  font-weight: 700;
  transition: all 0.5s;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row .col-8 .title-time a:hover {
  color: #009688;
}
.home .main-content .container .row .col-4 .search-category-tag .popular-artical .row .col-8 .title-time span {
  color: var(--text_color);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
}
.home .main-content .container .row .col-4 .search-category-tag .flow-facebook .title {
  padding: 6px 5px;
  text-align: center;
  background-color: #6af008;
  margin-bottom: 10px;
}
.home .main-content .container .row .col-4 .search-category-tag .flow-facebook .title h3 {
  color: #404040;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
.home .main-content .container .row .col-4 .search-category-tag .flow-facebook .image {
  display: flex;
  justify-content: center;
}
.home .main-content .container .row .col-4 .search-category-tag .category {
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);
  margin-top: 22px;
}
.home .main-content .container .row .col-4 .search-category-tag .category .title {
  padding: 6px 5px;
  background-color: #e2f52b;
  text-align: center;
  margin-bottom: 16px;
}
.home .main-content .container .row .col-4 .search-category-tag .category ul.cate-list {
  padding: 0px 10px 10px 10px;
}
.home .main-content .container .row .col-4 .search-category-tag .category ul.cate-list .cate-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0px;
  cursor: pointer;
  transition: all 0.5s;
}
.home .main-content .container .row .col-4 .search-category-tag .category ul.cate-list .cate-item li {
  display: flex;
  align-items: center;
}
.home .main-content .container .row .col-4 .search-category-tag .category ul.cate-list .cate-item li a {
  color: var(--text_color);
  font-size: 16px;
  font-weight: 700;
  transition: all 0.5s;
}
.home .main-content .container .row .col-4 .search-category-tag .category ul.cate-list .cate-item li a:hover {
  color: #ff9800;
}
.home .main-content .container .row .col-4 .search-category-tag .tag {
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);
  margin-top: 22px;
}
.home .main-content .container .row .col-4 .search-category-tag .tag .title {
  padding: 6px 5px;
  background-color: #03a9f4;
  text-align: center;
  margin-bottom: 20px;
}
.home .main-content .container .row .col-4 .search-category-tag .tag ul {
  padding: 0px 10px 10px 10px;
  flex-wrap: wrap;
  display: flex;
  grid-gap: 10px;
}
.home .main-content .container .row .col-4 .search-category-tag .tag ul li {
  padding: 5px 8px;
  background-color: #4caf50;
  transition: all 0.5s;
  border-radius: 2px;
  font-weight: 400;
}
.home .main-content .container .row .col-4 .search-category-tag .tag ul li a {
  color: #fff;
}
.home .main-content .container .row .col-4 .search-category-tag .tag ul li:hover {
  background-color: #ff9800;
}
.home #scroll .scroll-btn {
  width: 35px;
  height: 35px;
  background-color: #008009;
  border: none;
  position: fixed;
  right: 2%;
  top: 92%;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 2px;
}
.home #scroll .scroll-btn span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: var(--main_bg);
  box-shadow: var(--shadow_color);
}

.row #toggle {
  display: none;
}
@media only screen and (max-width: 991px) {
  .row {
    flex-direction: column;
  }
  .row .col-4 {
    width: 100%;
  }
  .row .col-4 .image-menubar label.menu_icon {
    display: flex !important;
  }
  .row #toggle:checked ~ .col-8 ul.link-list.toggle {
    height: 150px !important;
    transition: all 0.5s;
  }
  .row .col-8 {
    width: 100%;
  }
  .row .col-8 ul.link-list {
    flex-direction: column;
    justify-content: flex-start !important;
    height: 0px !important;
    overflow: hidden;
    grid-gap: 8px;
  }
}
.row .col-4 .image-menubar {
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row .col-4 .image-menubar .menu_icon {
  display: none;
  justify-content: center;
  font-size: 25px;
  height: 35px;
  width: 35px;
  background-color: #ff9800;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  align-items: center;
}
.row .col-4 .image-menubar a.image {
  width: 170px;
  height: 40px;
  cursor: pointer;
  margin-left: -8;
}
.row .col-4 .image-menubar a.image img {
  width: 100%;
  height: 100%;
}
.row .col-8 ul.link-list {
  height: 75px;
  transition: 0.3s ease;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 10px;
}
.row .col-8 ul.link-list .link-item a {
  font-size: 17px;
  font-weight: 600;
  color: var(--text_color);
}
.row .col-8 ul.link-list .social-icon {
  display: flex;
  grid-column-gap: 5px;
}
.row .col-8 ul.link-list .social-icon .link-item {
  background-color: var(--second_bg);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row .col-8 ul.link-list .social-icon .link-item a {
  font-size: 15px;
}
.row .col-8 ul.link-list .social-icon .link-item a span {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 90%;
  margin: 0px auto;
  padding: 0px 3rem;
}

.form-group {
  margin: 8px 0px;
}

.form-control {
  padding: 0px 5px;
  width: 100%;
  border: 1px solid var(--border_color);
  outline: none;
  height: 35px;
  font-size: 15px;
  transition: all 0.5s;
  font-weight: 300;
  color: var(--text_color);
  background-color: var(--main_bg);
}
.form-control::-moz-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: var(--text_color);
}
.form-control:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 300;
  color: var(--text_color);
}
.form-control::placeholder {
  font-size: 15px;
  font-weight: 300;
  color: var(--text_color);
}
.form-control:focus {
  border: 1px solid rgb(139, 236, 94);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 8px;
  font-size: 16px;
  font-weight: 400;
  border: transparent;
  height: 33px;
  border-radius: 2px;
  cursor: pointer;
}
.btn:hover {
  background-color: #191f33;
}

.btn-block {
  width: 100%;
}

.card {
  background-color: var(--main_bg);
  padding: 10px 15px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-column-gap: 4px;
}
.spinner div {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: loading 1.4s infinite ease-in-out both;
  -webkit-animation: loading 1.4s infinite ease-in-out both;
}
.spinner .spinner1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.spinner .spinner2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes loading {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes loading {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.numof-search-newAdd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #b4ccd8;
  padding: 10px;
}
.numof-search-newAdd .numof h2 {
  color: #404040;
}
.numof-search-newAdd .searchOf {
  position: relative;
  width: 50%;
}
.numof-search-newAdd .searchOf .search {
  background-color: gray;
}
.numof-search-newAdd .searchOf span {
  position: absolute;
  padding: 10px;
  right: 0;
  display: flex;
  top: 0;
  color: #404040;
}
.numof-search-newAdd .newAdd .btn {
  background-color: #58b15c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.numof-search-newAdd .newAdd .btn:hover {
  background-color: #40a545;
}

.dashborad-article,
.all-category,
.add-category,
.all-sub-admin,
.sub_admin_profile,
.dashborad_comments {
  margin-left: 275px;
  padding: 85px 12px 12px 12px;
  transition: all 0.5s;
}

.title-show-article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-show-article a.btn {
  background-color: #58b15c;
  display: flex;
  align-items: center;
  color: #fff;
  transition: all 0.5s;
}
.title-show-article a.btn:hover {
  background-color: #39a33e;
}

.home-articals {
  margin-right: 10px;
  display: grid;
  grid-gap: 20px;
}
.home-articals .home-artical {
  background-color: var(--main_bg);
  padding: 8px;
  border-radius: 2px;
  box-shadow: var(--shadow_color);
}
.home-articals .home-artical .row .col-4 .home-image .image {
  padding: 8px;
  width: 100%;
  height: 190px;
  position: relative;
}
.home-articals .home-artical .row .col-4 .home-image .image img {
  width: 100%;
  height: 100%;
}
.home-articals .home-artical .row .col-4 .home-image .image span {
  position: absolute;
  padding: 4px 6px;
  left: 8px;
  bottom: 8px;
  background-color: rgb(39, 40, 112);
  color: #fff;
  font-size: 13px;
}
.home-articals .home-artical .row .col-8 .home-artical-details {
  padding: 8px;
}
.home-articals .home-artical .row .col-8 .home-artical-details .title a {
  font-size: 18px;
  font-weight: 700;
  color: var(--text_color);
  transition: all 0.5s;
}
.home-articals .home-artical .row .col-8 .home-artical-details .title a:hover {
  color: rgb(68, 240, 68);
}
.home-articals .home-artical .row .col-8 .home-artical-details .name-time {
  display: flex;
  flex-direction: row;
}
.home-articals .home-artical .row .col-8 .home-artical-details .name-time span {
  color: gray;
  text-transform: uppercase;
  line-height: 2;
  margin-right: 5px;
  font-size: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.home-articals .home-artical .row .col-8 .home-artical-details .name-time span a {
  color: #000;
  font-size: 14px;
}
.home-articals .home-artical .row .col-8 .home-artical-details .artical-text {
  margin: 5px 0px;
  font-size: 14px;
}
.home-articals .home-artical .row .col-8 .home-artical-details .read-more {
  margin: 8px 0px;
}
.home-articals .home-artical .row .col-8 .home-artical-details .read-more .read-more-btn {
  padding: 5px 6px;
  background-color: white;
  color: #2b98ff;
  border: navajowhite;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}
.home-articals .home-artical .row .col-8 .home-artical-details .read-more .read-more-btn a {
  color: green;
}/*# sourceMappingURL=main.css.map */